black
ruff
pytest
fastapi
uvicorn[standard]
pydantic
pytest-jsonschema
jsonschema
PyYAML
pytest-asyncio
httpx
asyncio-mqtt
asgi_lifespan
click
paho-mqtt<2
sqlalchemy>=2
asyncpg
psycopg[binary]
geoalchemy2
alembic
